@{
    ViewData["Title"] = "Home Page";
}

<div class="background--image">
        <img src="~/LayoutImages/4393.jpg" class="image--1" alt="background" />
      </div>
      <section>
        <div class="section--title">
          <h1 class="section-description">Features</h1>
          <h3 class="section--title">
            Everything You Need In a Modern Transaction System
          </h3>
          <div class="features" id="feature--1">
            <div class="feature--2">
              <img
                src="~/LayoutImages/pexels-pixabay-50987.jpg"
                class="feature1--img"
                alt="img"
              />
            </div>
            <div class="paragraph">
              <p class="feature1--paragraph">
                Transaction processing is a way of computing that divides work
                into individual, indivisible operations, called transactions.
              </p>
            </div>
          </div>
        </div>
      </section>
